body{
	overflow-x: hidden;
	color: black;
	background-image: url("../img-pearinc/accessories.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: 150px;
}

.alpha{
	font-size: 70px;
	color: black;
}

.beta{
	font-size: 20px;
	color: black;
}

.charlie{
		font-size: 30px;
}

.delta{
}

.center{
}

table, th, td {
	width: 75%;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;
}

th, td {
	padding: 15px;
}