body {
  margin: 0px;
  padding: 0px;
  overflow: scroll;
  font-size: 20px;
  color: black;
}

li {
  display: inline;
  color:black
}    
.container {
	width: 1300px; 
	height: 1000px;
	margin: auto;
	text-align: center;
}
.company-name {
	color: black;
}

.phone-img, .pear-icon{
	display: block;
	margin: auto;
}

.pear-icon {
	position: relative;
	top: -360px;
}

.easy-nav {
	position: relative;
	display: flex;
	bottom:60px;
	justify-content: space-evenly;
	text-decoration: underline;
	font-size: 25px;
	color: darkmagenta;
}


.heading-pearphone {
	text-align: center;
}
.slogan {
	text-align: center;
}
.Info {
	position:relative; 
}
