body {
	overflow: scroll;
	color: black;
  }
  
  .phone-img, .pear-icon{
	  display: block;
	  margin: auto;
  }
  
  .pear-icon {
	  position: relative;
	  top: -360px;
  }
  
  .easy-nav {
	  color:rgba(5,107,188,1.00);
	  font-size:20px
  }
  
  .heading-pearphone {
	  text-align: center;
  }
  .slogan {
	  text-align: center;
  }
  .Info {
	  position:relative; 
  }
.container1{
	text-align: center
}
.Pearphone {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif" ;
	text-align: center;
}
.highlight {
	font-size:25pt;
	font-family: Gotham;
	font-weight:bold
}
.text1 {
	font-size: 20px;
	width: 100%
}
#GBTT {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(5,107,188,1.00);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

#GBTT:hover {
  background-color: rgba(40,58,85,1.00);
}