body {
	margin: 0px;
	padding: 0px;
	overflow: scroll;
	font-size: 20px;
	color: black;
	background-image: url("../img-pearinc/pearnote.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: -100px;
}

/*slogan font class*/
.pearnote {
	font-family: Courier, "New Times Roman", Helvetica, Times, "Courier New";
	position: relative;
	bottom: -225px;
	right: -60px;
}

/* header product name font class*/
.alpha {
	font-size: 70px;
	color: Black;
}

/*slogan first line size */
.beta {
	font-size: 20px;
	color: black;
}

/*slogan second line size */
.charlie {
	font-size: 30px;
}

/* Font classes for pearnote grey link*/
.delta {
	color: rgb(32, 32, 32);
	font-family: Copperplate, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
	position: relative;
	left: 120px
}

.echo {
	color: lightgrey;
	font-family: Copperplate, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
	position: relative;
	top: -19px;
	right: 80px
}

/*pearnote alignment class*/
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height:75%;
}