body{
	overflow-x: hidden;
	color: black;
	background-image: url("../img-pearinc/pearnote.jpeg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: 150px;
}

/*slogan font class*/
.pearnote {
	position: center;
}

/* header product name font class*/
.alpha {
	font-size: 70px;
	color: black;
}

/*slogan first line size */
.beta {
	font-size: 20px;
	color: black;
}

/*slogan second line size */
.charlie {
	font-size: 30px;
}

.delta {
	color: black;
	position: relative;
}

/*pearnote alignment class*/
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height:75%;
}

table, th, td {
	width: 75%;
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 15px;
}