body{
	overflow-x: hidden;
}
.pearnote{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	text-align: centre;
}

.imagecenter{
	text-align: center;
}


/*Header product name*/
.alpha {
	font-size: 70px;
	text-align: center;
}

/*Below product name*/
.beta {
	font-size: 40px;
	text-align: center;
}

/*Main slogan title*/
.charlie {
	font-size: 40px;
	text-align: center;
}

/*Main slogan paragraph*/
.delta {
	font-size: 30px;
	text-align: center;
}