* {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
    font-size: 18px;
    font-weight: 400;
}

a {
  color: black;
}

.header-section {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: center;
}

.header-toggle {
  display: none;
  width: 20px;
  height: 30px;

}

#menuToggle {
 display: none;
 position: absolute;
 right: 50px;
}

#menuToggle input{
  opacity: 0;
}

#menuToggle span {
 display: block;
 width: 33px;
 height: 4px;
 margin-bottom: 5px;
 position: relative;
 background: #cdcdcd;
 border-radius: 3px;
}

.header-nav nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav li {
  display: inline-block;
}

.header-nav a {
  margin: 0 30px 0 0;
  padding: 5px 0 7px;
  text-decoration: none;
  font-weight: 500;
}

.header-nav a::before {
  position: absolute;
  top: 5px;
  right: -6px;
  width: 6px;
  transition-timing-function: ease;
  transition-duration: .3s;
  transition-property: background-color, opacity;
  border-radius: 7px;
}


@media (max-width: 1024px) {
  .header-toggle {
      display: inline-block;
  }

  .header-nav nav {
      display: none;
  }

  #menuToggle {
      display: block;
  }
}

.MTC {
    font-size: 70px
}
  /* Main Subtitle Caption */
.MSC {
    font-size: 40px
}
  /* Secondary Subtitle Caption */
.SSC {
    font-size: 30px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

/* Tertiary Subtitle Caption ,blue captions */
.TSC {
  color: rgba(5,107,188,1.00);
  font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
	display: flex;
	width:500px ;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}