
/*

Structure of standard.css

1. Global css
2. Header
3. Footer


*/

/* ---1. Global css => applies to all elements or classes--- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -0.03em;
}

main {
  margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

/* Global container to centralise all content within it   */
.global-container {
  position: relative;
  max-width: 1610px;
  margin: auto;
}

.MTC {
  font-size: 70px
}
/* Main Subtitle Caption */
.MSC {
  font-size: 40px
}
/* Secondary Subtitle Caption */
.SSC {
  font-size: 30px;
}

/* Tertiary Subtitle Caption ,blue captions */
.TSC {
color: rgba(5,107,188,1.00);
font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
display: flex;
width:50% ;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
}

/* ---END of Global css--- */

/* ---2. Header => Navigation bar--- */
.header-section {
  width: 100%;
  margin: auto;
}

.header-wrap {
  min-height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-wrap,
.header-nav nav,
.header-nav nav > ul + ul {
  display: flex;
  align-items: center;
}

.header-logo {
  display: inline-block;
  flex: 1 0 auto;
}

.header-logo .is-logo,
.header-logo .no-logo {
  margin: 0;
}

.header-nav {
  position: relative;
  z-index: 99;
  flex: 0 1 100%;
}

.header-nav nav {
  width: 100%;
  padding: 0;
}

.header-nav nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav nav > ul {
  flex-grow: 1;
}

.header-nav nav > ul + ul {
  flex: 0 0 auto;
}

.header-nav li, .header-nav a {
  display: inline-block;
}

.header-nav a {
  font-size: 20px;
  position: relative;
  margin: 0 20px 0 0;
  padding: 5px 0 7px;
  text-decoration: none;
  letter-spacing: -0.3px;
  font-weight:500;
}

.header-nav a::before {
  position: absolute;
  top: 5px;
  right: -6px;
  width: 6px;
  height: 6px;
  content: '';
  transition-timing-function: ease;
  transition-duration: .3s;
  transition-property: background-color, opacity;
  border-radius: 7px;
  background-color: transparent;
}

.header-nav a:hover::before,
.header-nav a.is-active::before,
.header-nav a.is-active:hover::before {
  background-color: #3498DB;
}

.header-nav a:hover::before {
  opacity: .3;
  background-color: #3498DB;
}

.header-nav a.is-active:hover::before {
  opacity: 1;
}

.header-search span {
  display: none;
}

.header-search svg {
  width: 17px;
  cursor: pointer;
}

.header-checkbox, .header-checkbox:checked, .header-toggle {
  display: none;
}

.header-toggle {
  position: relative;
  width: 20px;
  height: 25px;
  margin: 0;
  cursor: pointer;
}

.header-toggle > span {
  position: relative;
  top: 50%;
}

.header-toggle > span,
.header-toggle .bar {
  display: block;
  width: 100%;
}

.header-toggle .bar {
  position: absolute;
  height: 3px;
  width: 25px;
  content: '';
  transition: transform .3s cubic-bezier(.645, .045, .355, 1), top .3s cubic-bezier(.645, .045, .355, 1) .2s;
  border-radius: 10px;
  background-color: black;
}

.header-toggle .bar:nth-child(1) {
  top: -10px;
}

.header-toggle .bar:nth-child(3) {
  top: 10px;
}

.header-checkbox:checked ~ label .bar {
  transition: transform .3s cubic-bezier(.645, .045, .355, 1) .3s, top .3s cubic-bezier(.645, .045, .355, 1);
}

.header-checkbox:checked ~ label .bar:nth-child(1),
.header-checkbox:checked ~ label .bar:nth-child(3) {
  top: 0;
}

.header-checkbox:checked ~ label .bar:nth-child(1),
.header-checkbox:checked ~ label .bar:nth-child(2) {
  transform: rotate(45deg);
}

.header-checkbox:checked ~ label .bar:nth-child(3) {
  transform: rotate(-45deg);
}

.header-checkbox:checked ~ nav {
  position: absolute;
  z-index: 98;
  top: -10px;
  right: -10px;
  display: none;
  max-width: 300px;
}

.header-checkbox:checked ~ nav ul {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 60px 0 60px 15px;
  list-style: none;
  box-shadow: 0 20px 45px -10px rgba(0, 0, 0, .4);
}

@media (min-width:481px) and (max-width:1024px) {
  .header-checkbox:checked ~ nav {
     top: 50px;
     right: -10px;
     
  }

  .global-container {
    padding-right: 25px;
    padding-left: 25px;
  }

}

@media (min-width: 1024px) {
  .global-container {
    padding-right: 55px;
    padding-left: 55px;
  }
}

@media (max-width:1024px) {

  * {
    font-size: 20px;
  }

  .global-container {
    padding-right: 55px;
    padding-left: 55px;
  }
  
  .header-logo, .header-nav {
     flex-basis: 50%;
  }

  .header-nav {
     text-align: right;
  }

  .header-nav nav {
    margin-right: 8px;
  }

  .header-toggle {
     display: inline-block;
  }

  .header-nav nav > ul,
  .header-nav nav > ul + ul {
     display: none;
  }

  .header-nav ul > li {
     display: block;
  }

  .header-nav a {
     line-height: 1.3;
     margin-right: 8px;
     padding: 5px 10px 5px 0;
     word-break: break-word;
  }

  .header-nav a::before {
     top: 4px;
     right: 2px;
  }

  .header-checkbox:checked ~ nav {
     display: flex;
     max-width: 220px;
     padding-top: 15px;
     padding-bottom: 50px;
     box-shadow: 0 15px 45px -10px rgba(0, 0, 0, .3);
     flex-wrap: wrap;
     background-color: #fff;
  }

  .header-checkbox:checked ~ nav ul {
     width: 100%;
     padding-top: 0;
     padding-bottom: 0;
     box-shadow: none;
  }

  .header-search {
     position: absolute;
     right: 0;
     bottom: -50px;
     left: 0;
     width: 100%;
     height: 50px;
     padding: 17px 18px 0 0;
     cursor: pointer;
  }

  .header-search span {
     font-size: 16px;
     display: inline-block;
     margin-right: 8px;
  }
}

/* ---END of Header--- */

/* --- 3. Footer => navigation links at the bottom of the page --- */


.footer-logo {
  padding-right: 8%;
  flex: 0 0 25%;
}

.footer-description {
  font-size: 14px;
  max-width: 350px;
  margin: 10px 0;
}

.footer col-md-2 ul {
  list-style: none;
}

.footer-icons svg {
  width: 16px;
  height: 16px;
}

.footer-copyright {
  font-size: 9px;
  max-width: 250px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: .7;
}

/* ---END of Footer--- */
