.content-heading a {
    font-size: 24px;
}

.pear-team-color {
    color: #FF4747;
}

.pear-products-color {
    color: #3498DB;
}

.content-heading {
    margin-bottom: 2em;
}

.faq {
    background-image: url(../img-pearinc/content1bg.jpg)
}

.category {
    background-image: url(../img-pearinc/content3bg.jpg)
}

.faq, .category {
    width: 100%;
    height: 60vh;
    padding: 60px;
    margin-bottom: 2em;
}