/* //////////////////////////////////////////////////////////////////////////

   Pear Inc by Sze Yan, Eden, Elton and Soloman (updated as of 19 July 1.35pm by Sze Yan)

   //////////////////////////////////////////////////////////////////////////

   I. Structure of support-style.css
   |
   ├─ 1. support-top
   ├─ 2. search-box (within the top section)
   ├─ 3. support team
   ├─ 4. contact
   ├─ 5. faq
   ├─ 6. subscription

   
   //////////////////////////////////////////////////////////////////////////
     
    /* --------------------------------------------------------------------------
        1. support-top (heading)
    -------------------------------------------------------------------------- */

    .support-top {
        max-width: 500px;
        margin: auto;
        margin-bottom: 2em;
    }

    .heading {
        text-align: center;
    }

    .quick-links {
        max-width: 500px;
        display: flex;
        justify-content: space-evenly;
    }

    .link1 h4 , .link2 h4 {
        color: #0031D6;
    }


    /* --------------------------------------------------------------------------
        2. search-box (place within the support-top section) (when user enters a keyword, the surround link that matches with it will be highlighted => user will then click on the link)*  *have yet to implement that part
    -------------------------------------------------------------------------- */

    /* have yet to fix the responsive part */

    .search-box {
        background-image: url(../img-pearinc/support2.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        max-width: 1200px;
        height: 750px;
        margin: auto;
        margin-bottom: 2em;
    }

    .sb {
        padding-top: 25%;
    }

    .search-bar input[type="text"] {
        max-width: 500px;
        border: 0;
        height: 50px;
        padding: 8px;
        outline: none;
    }

    @media (max-width: 1024px) {
        .sb {
            padding-top: 10%;
        }
    }

    @media (max-width: 500px) {
        .search-box {
            display: none;
        }
    }

    /* --------------------------------------------------------------------------
        3. support team (introduction of our team, support team is also the founder of Pear Inc)
    -------------------------------------------------------------------------- */

    .support-team {
        max-width: 1200px;
        height: auto;
        display: flex;
        margin: auto;
        margin-bottom: 3em;
    }

    .pearteam-h {
        display: none;
    }

    .popup .overlay {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:whitesmoke;
        display: none;
    }
      
    .popup.active .overlay{
        display: block;
        max-width: 1200px;
        margin: auto;
    }

    .overlay {
        padding: 64px;
        display: flex;
        margin-bottom: 2em;
    }

    .map, .timeline {
        margin-top: 4em;
    }

    .support-team:hover {
        transform: translate(0, -0.5px);
        box-shadow: 8px 6px 25px 8px rgba(0,0,0,.08);
    }

    .logo-title {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .logo-title h1 {
        padding-left: 2em;
    }

    .support-team-content {
        padding-top: 50px;
        max-width: 500px;
    }

    @media (max-width: 1024px) {
        .logo-title h1 {
            font-size: 18px;
        }

        .support-team-content p, .cc p {
            font-size: 15px;
        }
    }

    @media (max-width: 500px) {

        .overlay {
            padding: 10px;
        }

        .overlay p {
            font-size: 10px;
        }

        .support-team, .pearteam-h {
            display: block;
        }

        .pearteam {
            display: none;
        }

    }

    /* --------------------------------------------------------------------------
        4. contact (to allow the user to quickly contact us base on either live chat or email us direectly)
    -------------------------------------------------------------------------- */

    .contact {
        max-width: 1200px;
        height: 500px;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 3em;
        
    }

    .contact-left, .contact-right {
        width: 100%;
        text-align: center;
        vertical-align: middle;
        padding-top: 15%;
    }

    .contact-left:hover, .contact-right:hover {
        transform: translate(0, -0.5px);
        box-shadow: 8px 6px 25px 8px rgba(0,0,0,.08);
        background-color: #3498db;
        color: white;
    }

    .contact-left:hover:after, .contact-right:hover:after {
        transform: translate(0);
    }

    @media (max-width: 500px) {
        .video-call h1, .mail h1 {
            font-size: 15px;
        }

        .contact {
            height: 200px;
        }
    }


    /* --------------------------------------------------------------------------
        5. faq (if user do not wish to contact us first, they can view the frequently asked question section (FAQ) for more information about their quiries)
    -------------------------------------------------------------------------- */

    .faq {
        max-width: 1200px;
        height: 450px;
        margin: auto;
    }


    @media (max-width: 1024px) {
        .panel-body {
            font-size: 15px;
        }

        .panel-title a {
            font-size: 18px;
        }
    }

    @media (max-width: 500px) {
        .panel-body {
            font-size: 10px;
        }

        .panel-title a {
            font-size: 15px;
        }

    }

    /* --------------------------------------------------------------------------
        6. subscribe (to allow user to subscribe to our weekly newsletter for advertising purpose)
    -------------------------------------------------------------------------- */

    .subscription {
        max-width: 1400px;
        height: 100%;
        margin: auto;
        background-color: #3498db;
        display: flex;
        align-items: center;
    }

    .subscription-heading {
        max-width: 900px;
        padding: 64px;
    }

    .subscription-heading h1, .subscription-heading h3 {
        color: white;
    }

    /* will implement the search input animation */
    .subscription-form-1 input[type="email"] {
        max-width: 270;
        border: 0;
        height: 50px;
        padding: 8px;
        outline: none;
        transition: width 0.4s ease-in-out;
    }

    .subscription-form-1 input[type="email"]:focus {
        padding-right: 20px;
    }

    .subscription-form-1 button {
        height: 50px;
        background-color: white;
        border: 0; 
    }

    .subscription-form-1 button:hover {
        transform: translate(0, -0.5px);
        box-shadow: 8px 6px 25px 8px rgba(0,0,0,.08);
    }

    @media (max-width: 1024px) {

        .subscription-heading-text {
            max-width: 400px;
        }

        .subscription-heading-text h1 {
            font-size: 18px;
        }

        .subscription-heading-text h3 {
            font-size: 15px;
        }
    }

    @media (max-width: 500px) {
        .subscription {
            display: none;
        }
    }
/*